.presentation {
  padding: 0 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}

.title {
  font-size: 2.625rem;
  width: 75%;
}

.title span {
  color: #7c117c;
  font-size: 3rem;
}

.description {
  font-family: "Roboto", sans-serif;
  line-height: 2.5rem;
}
