.projects {
  padding: 20px 30px;
}

.projects h2 {
  font-size: 2.1875rem;
  color: #7c117c;
  margin-bottom: 20px;
}

.projects p {
  font-family: "Roboto", sans-serif;
  line-height: 2.5rem;
  font-size: 1rem;
}

.projects-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}
